html, body {
  height: 100%;
}

button {
  cursor: pointer
}

.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}

.m-t-minus2 {
  margin-top: -21% !important;
}

.m-l-0 {
  margin-left: 0 !important;
}