html, body {
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #eee;
  background: linear-gradient(#bbb, #eee, #aaa);
}

button {
  cursor: pointer
}

.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}
